  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>happenStance</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta property="og:type" content="mobile app" />
      <meta property="og:url" content="http://www.happenstance.me" />
      <meta property="og:site_name" content="happenStance" />
      <link rel="canonical" href="http://www.happenstance.me" />
      <meta property="og:image" content="http://dry-island-5789.herokuapp.com/images/happenstance_banner.png" />
      <meta content="HappenStance.Me - App to conect people anywhere in the world based on location based messages, pictures and videos." about="about happenStance.Me" property="dc:title" />
      <meta name="description" content="Connecting friends, family and strangers all around the world through location based messages, pictures and videos." />
      <meta property="og:title" content="happenStance Me - Faq" />
      <meta property="og:description" content="App to conect people anywhere in the world based on location based messages, pictures and videos.." />

      <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    </head>
    
    <body>
      <div class="container">
        
          <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar">a</span>
           <span class="icon-bar">b</span>
           <span class="icon-bar">c</span>
              </button>
              <a class="navbar-brand" href="/" title="home"><img src="images/happenstance_banner.png" alt="home"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="faq" title="faq">Faq</a>
                </li>
                <li>
                  <a href="privacy" title="privacy">Privacy</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>

          <div class="jumbotron" id="jumbo">
              
            </div>


      </div>
      <div class="container">
        <h2>
            <span class="label label-primary">Frequently Asked Questions</span>
        </h2>
        <br>
        <p class="text-primary">
              What is HappenStance?</p>
            <p>
              HappenStance is a conversation starter with everyone based on what you feel at the moment, you can start a conversation by sharing a message/picture or a video with people around or with a closed group at a location.<br>People would recieve your message/picture or video and contribute to the conversation when they are at the same location or are in the vacinity of that location.<br>
            </p>
            <hr>
            <p class="text-primary">
              Can I connect happenStance to Facebook? Can I delete friends?</p>
            <p>
              Not yet, but we are definitely working on this functionality right now. Friend deletion will be available in happenStance 1.1.
            </p>
            <hr>
            <p class="text-primary">
              HappenStance prerequisies?
            </p>
            <p>
              It works on android devices running 2.2 or above and requires an Internet Connection.
            </p>
            <hr>
            <p class="text-primary">
              How do start using HappenStance?
            </p>
            <p>
              You can register with HappenStance to create your account and start using the service.
            </p>
            <hr>
            <p class="text-primary">
              Does HappenStance run in the background, use GPS all the time?
            </p>
            <p>
              HappenStance does not run in the background all the time. 
            </p>
      </div>
      <hr>    
      <div id="footer">
        <div class="container">
          <div class="col-md-4 col-md-offset-4">
            <p class="text-muted credit">Made by thirtySix team</p>
          </div>  
        </div>
      </div>
     
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
      <script src="/scripts/index.js"></script>
    </body>
  </html> 