<!DOCTYPE html>
<html>
  
  <head data-gwd-animation-mode="quickMode">
    <title>happenStance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
      html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      body {
        background-color: transparent;
        -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      }
    </style>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
  </head>
  
   <body lang="en">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar">a</span>
         <span class="icon-bar">b</span>
         <span class="icon-bar">c</span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/happenstance_banner.png"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="faq">Faq</a>
              </li>
              <li>
                <a href="privacy">Privacy</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
        <div class="col-xs-18 col-md-12">
          
          <div class="jumbotron">
             <h2>
                Connect with people
            </h2> 
            <p>leave a message at a place and experience Seredipity.</p>
          </div>
          
          <p> 
           <h2>
            <span class="label label-primary">FAQs</span>
          </h2>
          </p>
          <br>
          <div class="col-md-8">
            <p class="text-primary">
              Can I delete a happenStance? Can I connect happenStance to Facebook? Can I delete friends?</p>
            <p>
              Not yet, but we are definitely working on this functionality right now. Friend deletion will be available in happenStance 1.1.
            </p>
            <hr>
            <p class="text-primary">
              Why is my Who? screen blank when creating a new happenStance? Why am I being asked to log in repeatedly?
            </p>
            <p>  
              It sounds like when you registered, you had some internet issues that prevented happenStance from properly saving all of your signup information. If you send your email address to (connect@happenstance.me) we can delete your existing account and let you know, then, please make sure you're on WiFi or a good internet connection, delete and re-download happenStance and try signing up again. You should only have to log in once, ever, unless your account becomes invalid or you lose your internet connection for a bit, which sometimes happens on mobile devices. 
            </p>
            <hr>
            <p class="text-primary">
              Why does my location indicator stay on even if happenStance is closed?
            </p>
            <p>
              What we are doing with happenStance is using full-power GPS for high accuracy if the app is open and running in the foreground. If it's in the background or closed, we register for Significant Location Change detection. This basically means that the iPhone lets us know when your location changes significantly and wakes happenStance up just enough to let us check to see if there are any happenStance around. This doesn't really have any effect on battery life in our experience. 
            </p>
            <hr>
            <p>
              How do I create a new happenStance?
            </p>
            <p>  
              At the bottom of the happenStance interface on your iPhone, you’ll see a blue button in the center of the screen. Tap this button to create a new happenStance. Next, select what type of happenStance (text or photo) you’d like to happenStance. Next, select to where and to whom the happenStance will be sent. Finally, complete your message and send the happenStance. That's it!
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="footer col-md-offset-4">
          <p>♥ from the thirtySix team</p>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>