<!DOCTYPE html>
<html>
  
  <head data-gwd-animation-mode="quickMode">
    <title>happenStance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
      html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      body {
        background-color: transparent;
        -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      }
    </style>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
  </head>
  
   <body lang="en">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/" title="home"><img src="images/happenstance_banner.png" alt="home"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="faq" title="faq">Faq</a>
              </li>
              <li>
                <a href="privacy" title="privacy">Privacy</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
        <div class="col-xs-18 col-md-12">
          
          <div class="jumbotron">
             <h2>
                Connect with people
            </h2> 
            <p>leave a message at a place and experience Seredipity.</p>
          </div>
          
          <p> 
           <h2>
            <span class="label label-primary">FAQs</span>
          </h2>
          </p>
          <br>
          <div class="col-md-8">
            <p class="text-primary">
              What is HappenStance?</p>
            <p>
              HappenStance is a conversation starter with everyone based on what you feel at the moment, you can start a conversation by sharing a message/picture or a video with people around or with a closed group at a location.<br>People would recieve your message/picture or video and contribute to the conversation when they are at the same location or are in the vacinity of that location.<br>
            </p>
            <hr>
            <p class="text-primary">
              Can I connect happenStance to Facebook? Can I delete friends?</p>
            <p>
              Not yet, but we are definitely working on this functionality right now. Friend deletion will be available in happenStance 1.1.
            </p>
            <hr>
            <p class="text-primary">
              HappenStance prerequisies?
            </p>
            <p>
              It works on android devices running 2.2 or above and requires an Internet Connection.
            </p>
            <hr>
            <p class="text-primary">
              How do start using HappenStance?
            </p>
            <p>
              You can register with HappenStance to create your account and start using the service.
            </p>
            <hr>
            <p class="text-primary">
              Does HappenStance run in the background, use GPS all the time?
            </p>
            <p>
              HappenStance does not run in the background all the time. 
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="footer col-md-offset-4">
          <p>♥ from the thirtySix team</p>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>