<!DOCTYPE html>
<html lang="en">
  <head>
    <title>happenStance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:type" content="mobile app" />
    <meta property="og:url" content="http://www.happenstance.me" />
    <meta property="og:site_name" content="happenStance" />
    <link rel="canonical" href="http://www.happenstance.com" />
    <meta property="og:image" content="http://dry-island-5789.herokuapp.com/images/happenstance_banner.png" />
    <meta content="HappenStance.Me - App to conect people anywhere in the world based on location based messages, pictures and videos." about="about happenStance.Me" property="dc:title" />
    <meta name="description" content="Connecting friends, family and strangers all around the world through location based messages, pictures and videos." />
    <meta property="og:title" content="happenStance Me | Connect through location" />
    <meta property="og:description" content="App to conect people anywhere in the world based on location based messages, pictures and videos.." />
    <style type="text/css">
      html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }
      body {
        background-color: transparent;
        -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      }
    </style>
    <!--<script data-main="scripts/main" src="scripts/require.js"></script>-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar">a</span>
				 <span class="icon-bar">b</span>
				 <span class="icon-bar">c</span>
            </button>
            <a class="navbar-brand" href="/" title="home"><img src="images/happenstance_banner.png" alt="home"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="faq" title="faq">Faq</a>
              </li>
              <li>
                <a href="privacy" title="privacy">Privacy</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
        <div class="col-xs-18 col-md-12">
          
          <div class="jumbotron" id="jumbo">
            
          </div>
        	  
           <h2>
            <span class="label label-primary">Introducing happenStance Me</span>
          </h2> 
           <h4>
            happenStance is a new way to connect with friends, family and others through location based conversations consisting of messages, photos and videos.
          </h4>
          <br>
          {{#if msg}}
            <div class="alert alert-success col-md-6 col-md-offset-2">
              <div class="text-center"><span class="text-center">{{msg}}</span></div>
            </div>
          {{/if}}
          <div class="col-md-10 col-md-offset-2">
          		<h4>Sign up for an invite and we will let you know when we are ready to launch</h4>
          	
            <form role="form" method="post" action="/subscribe" id="form" name="form">
              <div class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-3">
                      <input type="email" name="user[email]" class="form-control" id="inputEmail" placeholder="Enter email" style="border-radius: 6px; color: rgb(120, 135, 158); margin: 0px 0px 22px; outline: 0px none; padding: 11px 4%;resize: none;">
                    </div>
                    <div class="col-sm-3">
                      <select name="user[mobile_platform]" class="form-control" id="platform">
                        <option selected="true">Preferred Platform</option>
                        <option value="Android">Android</option>
                        <option value="Blackberry">Blackberry</option>
                        <option value="IOS">IOS</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </div>
            </form>
            </div>
          </div>
      </div>
       </div>
      <hr>
      <div class="footer col-md-offset-4">
          <p> ♥ from the thirtySix team </p>
      </div>
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="/scripts/index.js"></script>
  </body>
</html>